body {
    font-family: Arial, sans-serif;
    background-color: #fff7ef;
    text-align: center;
    margin: 0;
    padding: 0;
}


header {
    background-color: #f3d8b5;
    padding: 30px;
}


h1 {
    color: #6b4226;
    font-size: 40px;
}


p {
    font-size: 18px;
}


main {
    padding: 20px;
}


.soap-image {

    width: 80%;
    max-width: 650px;

    border-radius: 15px;

    margin-top: 25px;

}


.quiz {

    background-color: white;

    max-width: 500px;

    margin: 30px auto;

    padding: 25px;

    border-radius: 15px;

}


select {

    padding: 10px;

    font-size: 16px;

}


button {

    background-color: #6b4226;

    color: white;

    border: none;

    padding: 12px 25px;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;

}


button:hover {

    opacity: .8;

}


#result {

    color: #6b4226;

    margin-top: 20px;

}
